* {
    box-sizing: border-box;
}

/*Flex*/

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.btn-string {
    height: 100vh;
    width: auto;
}

/*Button*/

.btn {

    background-color: #2ECC71;
    text-align: center;
    border-radius: 15%;
    height: 4rem;
    width: 8rem;
    font-size: 14px;
    cursor: pointer;
    transition: transform 2s, opacity 2s;


}

.btn:hover {
    transform: translateY(-5px);
    opacity: 0.6;
}

/*String*/

.string {
    font-size: 16px;
    animation: string-rotate 6s infinite;
}

@keyframes string-rotate {
    0% {
        transform: rotate(0);
    }

    33% {
        transform: rotate(180deg);
    }

    66% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0);
    }
}

/*Form*/

.radio, .checkbox {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}



.select, .submit   {
    margin-top: 2rem;
    margin-bottom: 2rem;
}




input[type=text],input[type=number],input[type=email], select {
    width: 100%;
    padding: 0.5rem 0.5rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 1rem 1rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div .form {
    border-radius: 0.5rem;
    background-color: #f2f2f2;
    padding: 1.5rem;
}